<hot-table
  id="items"
  settings="{contextMenu: ['row_above', 'row_below', 'remove_row', 'col_right', 'col_left', 'remove_col']}"
  colHeaders="colHeaders"
  minSpareRows="minSpareRows"
  datarows="db.items"
  height="400"
  width="700"

  afterChange: afterItemsChange>
</hot-table>
<button ng-click="normalize()">
  Compare
</button>
<table class="table" style="width:250px">
  <tr ng-repeat="attribute in db.attributes track by $index">
    <td style="width:150px">{{attribute.name}}</td>
    <td style="width:100px;">
      <div style="float:left;padding-right:5px">-</div>
      <div style="float:left"><input style="width:20px" ng-model="attribute.weight"></div>
      <div style="padding-left:5px">+</div>
    </td>
  </tr>
</table>
<table class="table" style="width:250px">
  <tr ng-repeat="item in db.scores">
    <td style="width:150px">{{item.name}}</td>
    <td style="width:100px;">{{item.score}}></td>
  </tr>
</table>
